* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;    
}

@media screen and (min-width: 768px){
.flex-centre {
        display: flex;
        justify-content: center;
        align-items: center;
}
.flex-around {
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.flex-column-centre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.flex-column-around {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}
.flex-column-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

}
/*HEADER*/
header {
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
}
img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}
.logo {
        height: 80px;
        width: 80px;
        margin-left: 40px;
        margin-top: 10px; 
}
.navbar {
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
}
.navbar a {
        text-decoration:none;
        color:black;
        font-size: 14px;
        font-weight:500;
        padding: 40px;
}
.navbar a:hover {
        color: #0065fc;
        border-top:#0065fc solid 1px;
}

/*SECTION 1*/
h1 {
        font-size: 18px;
        padding-bottom: 5px;
}
p {
        font-size: 13px;
}

h1, p {
        margin-left: 30px;

}

/*SEARCH*/
.container-search {
        width: 400px;
        display:flex;
        margin-top: 20px;
        margin-left: 25px;
        border-radius: 10px;    
}

.iconSize {
        height: 40px;
        width: 40px;
        border-radius: 15px 0 0 15px;
}

.backGris {
        background-color: #F2F2F2;
        opacity: 0,6;
}

.flexCenter {
        display:flex;
        justify-content: center;
        align-items: center;
}

.recherche {
        height: 40px;
        width: 230px;
        color:black;
        font-size: 15px;
        font-weight: bold;
        border:none;
        border: 1px solid #F2F2F2;
        padding-left: 20px;
}

.buttonSearch {
        height: 40px;
        width: 120px;
        background-color: #0065fc;
        font-size: 15px;
        font-weight: bold;
        color: white;
        border-radius: 0 15px 15px 0;
}
.iconSearch {
        display:none;
}

/*Filtres*/
.containerFiltres {
        margin-top: 30px;
        width: 900px;
        height: 50px;
        display:flex;
        justify-content: space-between; 
}
.titleFiltres {
        height: 40px;
        display:flex;
        justify-content: center;
        align-items:center;
        font-size: 15px;
        font-weight: bold;
}
.iconFiltres {
        display:flex;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        color: #0065fc;
}
.backBleu {
        background-color: #deebff;
        opacity: 0,8;
}
.contentFiltres {
        width: auto;
        height: 40px;
        border: solid 2px #f2f2f2d7;
        display:flex;
        align-items: center;
        border-radius: 30px;
}
.filtres {
        display:flex;
        font-size: 15px;;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;  
        padding: 15px;
}
.contentFiltres:hover {
        background-color: #F2F2F2;
        opacity: 0,8;     
}
.contentInfo {
        width: 500px;
        margin-top: 10px;
        margin-left: 30px;
        display:flex;
}
.iconInfo {
        width: 25px;
        height: 25px;
        display:flex;
        justify-content:center;
        align-items: center;
        color: #0065fc;
        border: solid 1px #f2f2f2d7;
        border-radius: 30px;
}
.textInfo {
        display:flex;
        justify-content: center;
        align-items: center; 
        font-size: 13px;
}
/* Hébergements*/
.titleHeb {
        padding: 30px 0 20px 40px;
}
.sizeHeb {
        flex: 2;
        height: 650px;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 20px;
        border-radius: 15px;
}
.sizePop {
        flex:1;
        height: 650px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 30px;
        border-radius: 15px;
}
.contentHeb {
        width: 30%;
        height: 250px;
        background-color: white;
        padding: 4px;
        border-radius: 20px;
}
.imgHeb1 {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
}
.imgHeb2 {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
}
.imgHeb3 {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
}
.imgHeb4 {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
}
.imgHeb5 {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
}
.imgHeb6 {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
}
.bloc-hebergements {
        padding-left: 20px;
        padding-right: 20px;
}
.bloc1 {
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}
.bloc2 {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}
.detailsHeb {
        
}
.affplus {
        margin-left: 35px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
}

/*Populaires*/
.containerPop{
        width: 30%;
        height: 650px;
        margin-right: 30px;
        background-color: #F2F2F2;
        border: solid 1 px #F2F2F2;
        border-radius: 15px;
}
.titlePop {
        width: 100%;
        padding-top: 30px;
        padding-left:-15px;
        padding-right: 30px;
        display:flex;
        justify-content: space-between;
}
.contentAllPop {
        display:flex;
        flex-direction: column;
        align-items: center;
}
.contentPop {
        margin: 20px 10px 10px 10px;
        width: 75%;
        height: 130px;
        background-color: white;
        border: solid 2px white;
        border-radius: 20px;
}
}


/* CSS tablette et mobile : Si l'écran est inférieur ou égal à 768px alors {...} */
@media screen and (max-width: 768px) {

/* HEADER*/
header {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;  
        margin-left: auto;
        margin-right: auto; 
        margin-top: 10px;
}
img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}
.logo {
        height: 100px;
        width: 100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
}
.navbar {
        display:flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #F2F2F2;
}  

.navbar a {
        text-decoration:none;
        color:black;
        font-weight: 500;
        font-size: 17px;
        margin: 0px 40px 0px 40px;
        padding: 8px;  
}
a:hover {
        color: #0065fc;
        border-bottom:#0065fc solid 2px;
}

/* Section search*/
.h1 {
        margin-top: 30px;
}
h1 {
        margin-left: 20px;
        font-size: 24px;
        text-justify: left;
}
P {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 17px;
}
.container-search {
        width: 320px;
        display:flex;
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 10px;    
}
.iconSize {
        height: 50px;
        width: 50px;
        border-radius: 15px 0 0 15px;
}
.backGris {
        background-color: #F2F2F2;
        opacity: 0,6;
}
.flexCenter {
        display:flex;
        justify-content: center;
        align-items: center;
}
.recherche {
        height: 50px;
        width: 200px;
        font-size: 18px;
        color:black;
        font-weight: bold;
        border:none;
        border: 1px solid #F2F2F2;
        padding-left: 20px;
}
.buttonSearch {
        display:none;
}
.iconSearch {
        height: 50px;
        width: 50px;
        background-color: #0065fc;
        color: white;
        border-radius: 15px 15px 15px 15px;
}
.iconFiltres {
        display:flex;
}

.containerFiltres {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
}
.titleFiltres {
        height: auto;
        width: auto; 
}
}


       
